<center><h1>Log In</h1></center>
<%= form_tag sessions_path do %>
  <center><div class="field">
    <%= label_tag 'Email:' %><br />
    <%= text_field_tag :email, params[:email] %>
  </div></center>
  <center><div class="field">
    <%= label_tag 'Password:' %><br />
    <%= password_field_tag :password %>
  </div></center>
  <center><div class="actions"><%= submit_tag "Log In" %></div></center>
<% end %>
<br><center><%= link_to 'New Account? Sign Up', signup_path %></center>