<h2 style="background-color:#000000;color:#808080">
<center><div class="header">
  <a target="_blank" href="img_forest.jpg"><br> 
    <img src="https://indigothemes.com/wp-content/uploads/logo3.png" alt="Forest" width="300" height="50"></a> 
</center>
</h2><br>
<center><h1>Log In</h1></center>
<table align="center">
<%= form_tag sessions_path do %>
  <center><div class="field">
    <%= label_tag 'Email:' %>
    <%= text_field_tag :email, params[:email] %>
  </div></center><br>
  <center><div class="field">
    <%= label_tag 'Password:' %>
    <%= password_field_tag :password %>
  </div></center><br>
  <center><button><%= link_to 'Log in', animals_path%></button></center>
<% end %>
<br><center><%= link_to 'New Account? Sign Up', signup_path %></center>

<div class="header">
  <a target="_blank" href="img_forest.jpg">
    <img src="http://media.istockphoto.com/photos/group-of-pets-together-isolated-on-white-picture-id167600936?k=6&m=167600936&s=612x612&w=0&h=zWSvsLB_pOCX61NMdOE7af0Tu6ObwUmK842BX6rXEss=" alt="Forest" width="550" height="250">
  </a>
  <style> 