<h2 style="background-color:#808080;color:#808080">
hahahaha
</h2>
<center><h1>Log In</h1></center>
<table align="center">
<%= form_tag sessions_path do %>
  <center><div class="field">
    <%= label_tag 'Email:' %>
    <%= text_field_tag :email, params[:email] %>
  </div></center><br>
  <center><div class="field">
    <%= label_tag 'Password:' %>
    <%= password_field_tag :password %>
  </div></center><br>
  <center><button><%= link_to 'Log in', animals_path%></button></center>
<% end %>
<br><center><%= link_to 'New Account? Sign Up', signup_path %></center>