<center><h1>Sign Up</h1></center>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Incorrect Password</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <center><div class="field">
    <%= f.label 'Email:' %><br />
    <%= f.text_field :email %>
  </div></center>
  <center><div class="field">
    <%= f.label 'Password:' %><br />
    <%= f.password_field :password %>
  </div></center>
  <center><div class="field">
    <%= f.label 'Password Confirmation:' %><br />
    <%= f.password_field :password_confirmation %>
  </div></center>
  <center><div class="actions"><%= f.submit "Sign Up" %></div></center>
<% end %>