<p id="notice"><%= notice %></p>

<div>
  <center><h1>Pet Shop Inventory System</h1></center>
</div>

<center><table>
  <thead>
    <tr>
      <th><center>Species</center></th>
      <th><center>Breed</center></th>
      <th><center>Price</center></th>
      <th><center>Status<center></th>
      <th colspan="1"></th>
    </tr>
  </thead>
<%= form_tag('/', method: 'get') do %>
  <%= text_field_tag 'query' %>
  <%= radio_button_tag 'field', 'Species' %> Species
  <%= radio_button_tag 'field', 'Breed' %> Breed
  <%= radio_button_tag 'field', 'Price' %> Price
  <%= radio_button_tag 'field', 'Status' %> Status
  <%= submit_tag 'Submit' %>

<% end %>
<% @animal.each do |animal| %>
        <td><center><%= animal.Species %></center></td>
        <td><%= animal.Breed %></td>
        <td><%= animal.Price %></td>
        <td><%= animal.Status %></td>
        <% if animal.Status == 'For Sale' %>
          <td><%= link_to 'Sold', animal_change_status_sold_path(animal)%></td>
        <% else %>
          <td><%= link_to 'For Sale', animal_change_status_sale_path(animal)%></td>
        <%end%>
        <td><%= link_to 'Show', animal%></td>
        <td><%= link_to 'Edit', edit_animal_path(animal) %></td> 
        <td><%= link_to 'Delete', animal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<b><td><%= link_to 'Add Animal', new_animal_path %></td> |
<td><%= link_to 'Inventory', show_inventory_path%></td> |
<td><%= link_to 'Home', animals_path%></td> |
<td><%= link_to "Log out", login_path %></td></b>