<p id="notice"><%= notice %></p>
<div>
  <center><h1>Pet Shop Inventory</h1></center>
</div>
<br>
<p><center>
<strong>BREED</strong><br>
<% @animals_by_dogbreed.each do |breeds, animals| %>
  <br><%= breeds %>
	<% end %>
<% @animals_by_catbreed.each do |breeds, animals| %>
  <br><%= breeds %>
	<% end %>
</p>
</center>

<br><center>
<br><td><%= link_to 'Species', show_species_path%></td> |
<td><%= link_to 'Breed', show_breed_path%></td> |
<td><%= link_to 'Status', show_status_path%></td> |
<td><%= link_to 'Back', animals_path%></td>
</center>