<p id="notice"><%= notice %></p>
<h2 style="background-color:#000000;color:#808080">
<center><div class="header">
  <a target="_blank" href="img_forest.jpg"><br> 
    <img src="https://indigothemes.com/wp-content/uploads/logo3.png" alt="Forest" width="300" height="50"></a> 
</center>
</h2>
<br><center>
<strong>STATUS</strong><br>
<br>
<p>
<strong>FOR SALE:</strong>
<% @animals_for_sale.each do |species, animals| %>
   <br><%= species %>
  <% end %>
</p>

<p>
<strong>SOLD:</strong>
<% @animals_for_sold.each do |species, animals| %>
   <br><%= species %>
  <% end %>
</p>

<br>
<br><td><%= link_to 'Species', show_species_path%></td> |
<td><%= link_to 'Breed', show_breed_path%></td> |
<td><%= link_to 'Status', show_status_path%></td> |
<td><%= link_to 'Back', animals_path%></td>
</center>