<p id="notice"><%= notice %></p>
<h2 style="background-color:#808080;color:white">
<center>Pet Shop Inventory System</center>
</h2>
<center><strong>SUMMARY</strong></center>
<p>
<strong>FOR SALE</strong>
<% @animals_for_sale.each do |species, animals| %>
   <br>Number of <%= species %>s:
       <%= animals.count %>
<% end %>
</p>

<p>
<strong>SOLD</strong> 
<% @animals_for_sold.each do |species, animals| %>
   <br>Number of <%= species %>s:
       <%= animals.count %>
<% end %>
</p>

<p>
<strong>Total Amount Received From Sales:</strong>
	<%= @animal = Animal.sum(&:Price) %>
</p>
<br>
<td><button><%= link_to 'Back', animals_path%></button></td>