<p id="notice"><%= notice %></p>

<h2 style="background-color:#808080;color:#808080">
<center>Pet Shop Inventory System</center>
</h2>
<br><br>
<p><center>
  <strong>Species:</strong>
  <%= @animal.Species %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @animal.Breed %>
</p>

<p>
  <strong>Price:</strong>
  <%= @animal.Price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @animal.Status %>
</p>

<br>
<td><%= link_to 'Back', animals_path %></td>
</center>

<div class="header">
  <a target="_blank" href="img_forest.jpg">
    <img src="http://media.istockphoto.com/photos/group-of-pets-together-isolated-on-white-picture-id167600936?k=6&m=167600936&s=612x612&w=0&h=zWSvsLB_pOCX61NMdOE7af0Tu6ObwUmK842BX6rXEss=" alt="Forest" width="550" height="250">
  </a>
  <style> 