<p id="notice"><%= notice %></p>

<h2 style="background-color:#808080;color:white">
<center>Pet Shop Inventory System</center>
</h2>
<br><br>
<p><center>
  <strong>Species:</strong>
  <%= @animal.Species %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @animal.Breed %>
</p>

<p>
  <strong>Price:</strong>
  <%= @animal.Price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @animal.Status %>
</p>

<br>
<td><%= link_to 'Back', animals_path %></td>
</center>